@import "config"; // Always at the beginning
@import "header";
@import "footer";
@import "modal";

// main
.main {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh;
    color: $white-color;
    background: linear-gradient(110.75deg, #502FCB 1.86%, #A888EB 100%);
    &::before {
        content: '';
        position: absolute;
        top: -195px;
        right: -236px;
        z-index: -2;
        display: block;
        width: 1116px;
        height: 638px;
        background-image: url(../img/dist/main-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
        transform: rotate(12deg);

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            right: -600px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: -195px;
        right: -236px;
        z-index: -1;
        display: block;
        width: 1116px;
        height: 638px;
        background: linear-gradient(144.89deg, #55389E 27.39%, rgba(63, 40, 122, 0.9) 43.76%, rgba(51, 29, 105, 0.750566) 58.98%, rgba(35, 16, 84, 0.56) 72.46%);
        box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
        transform: rotate(12deg);

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            right: -600px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__arrow {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 48px;
        height: 48px;
        background-image: url(../img/dist/sprite.svg#icon-arrow-down);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

// offer
.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    min-height: calc(100vh - var(--height));
    max-width: 745px;
    width: 100%;
    &__wrapper {
        margin-bottom: 100px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 70px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 50px;
        }
    }
    &__block {
        margin-top: 48px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 36px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }
    &__subtitle {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: normal;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 6px;
            font-size: 18px;
        }
    }
    &__description {
        margin-top: 14px;
        font-size: 24px;
        font-weight: normal;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
    &__text {
        display: block;
        font-size: 18px;
        font-weight: normal;
        &--yellow {
            color: $yellow-color;
        }
        
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
    &__text + &__btn {
        margin-top: 40px;

        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }
    &__btn {
        margin-top: 70px;

        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
}

// advantages
.advantages {
    display: flex;
    margin-top: 55px;

    @media screen and (max-width: 575px) {
        overflow-y: hidden;
        overflow-x: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 0;
            height: 0;
        }
    }

    &__item {
        max-width: 152px;
        width: 100%;

        @media screen and (max-width: 575px) {
            max-width: none;
            min-width: 30%;
        }
    }
    &__item + &__item {
        margin-left: 46px;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            min-width: 70px;
            min-height: 70px;
            max-width: 70px;
            max-height: 70px;
        }
        @media screen and (max-width: 767px) {
            min-width: 55px;
            min-height: 55px;
            max-width: 55px;
            max-height: 55px;
        }
    }
    &__title {
        margin-top: 24px;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        color: $light-color;

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
}

// how it works
.howitworks {
    padding-top: 75px;

    @media screen and (max-width: 767px) {
        padding-top: 45px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        counter-reset: howitworks;

        @media screen and (max-width: 767px) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    &__item {
        max-width: 362px;
        width: 100%;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            max-width: 30%;
        }
    }
    &__item + &__item {
        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }
    &__title {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: normal;
        color: $gray-color;
        &::before {
            counter-increment: howitworks;
            content: counter(howitworks);
            display: block;
            margin-right: 18px;
            font-size: 144px;
            font-weight: bold;
            background: linear-gradient(163.46deg, #502FCB 29.49%, #A484EA 83.48%);
            background-clip: text;
            color: transparent;
        }

        @media screen and (max-width: 1023px) {
            flex-direction: column;
            text-align: center;
            &::before {
                margin-right: 0;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 20px;
            &::before {
                margin-bottom: 10px;
                font-size: 100px;
            }
        }
        @media screen and (max-width: 575px) {
            font-size: 18px;
            &::before {
                font-size: 80px;
            }
        }
    }
}

// about
.about {
    padding-top: 100px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-top: 80px;
    }
    @media screen and (max-width: 767px) {
        padding-top: 65px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        overflow: hidden;
        max-width: 570px;
        width: 100%;
        border-radius: 20px;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 40px;
        max-width: 609px;
        width: 100%;

        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    &__title {
        font-size: 25px;
        font-weight: 600;

        @media screen and (max-width: 575px) {
            font-size: 23px;
        }
    }
    &__content {
        margin-top: 32px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 24px;
        }
    }
    &__btn {
        margin-top: 56px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 40px;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
}

// report
.report {
    padding-top: 100px;

    @media screen and (max-width: 767px) {
        padding-top: 65px;
    }
    
    &__slider {
        position: relative;
        z-index: 1;
        margin-top: 90px;
        @media screen and (max-width: 767px) {
            margin: 0 auto;
            max-width: 80%;
            width: 100%;
        }
        .swiper-slide {
            transition: all 0.4s;

            @media screen and (min-width: 768px) {
                padding-bottom: 36px; // for box shadow
                transform: scale(0.7);
            }
        }
        .swiper-slide-active {
            transform: scale(1);
        }
        .swiper-slide-prev {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                display: block;
                width: 100%;
                height: calc(100% - 36px);
                background: linear-gradient(to right, #CABFF2 0%, rgba(80, 47, 203, 0.36) 100%);

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        .swiper-slide-next {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                display: block;
                width: 100%;
                height: calc(100% - 36px);
                background: linear-gradient(to left, #CABFF2 0%, rgba(80, 47, 203, 0.36) 100%);

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            z-index: 100;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100px;
            height: 100%;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:focus,
            &:hover {
                svg {
                    color: $white-color;
                }
            }
            svg {
                margin: 0 15px;
                width: 32px;
                height: 48px;
                color: $purple-color;

                @media screen and (max-width: 767px) {
                    margin: 0;
                }
            }

            @media screen and (max-width: 767px) {
                width: 10%;
                &:focus,
                &:hover {
                    svg {
                        color: $yellow-color;
                    }
                }
            }
        }
        .swiper-button-next {
            right: 0;
            align-items: flex-end;

            @media screen and (max-width: 767px) {
                right: -10%;
            }
        }
        .swiper-button-prev {
            left: 0;
            align-items: flex-start;

            @media screen and (max-width: 767px) {
                left: -10%;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 60px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 40px;
        }
    }
    &__img {
        @media screen and (min-width: 768px) {
            box-shadow: 12px 16px 20px rgba(0, 0, 0, 0.2);
        }
    }
}

// projects
.projects {
    padding-top: 80px;

    @media screen and (max-width: 767px) {
        padding-top: 60px;
    }
    
    &__wrapper {
        margin-top: 60px;
        @media screen and (max-width: 767px) {
            margin-top: 36px;
        }
        &.s-none {
            display:none;
        }
    }
    &__title {
        font-size: 22px;
        font-weight: normal;
        white-space: nowrap;

        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    &__title + &__inner {
        margin-top: 32px;

        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }
    &__inner {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
        &--column {
            @media screen and (max-width: 1199px) {
                .projects__checkbox + .projects__checkbox,
                .projects__checkbox + .projects__input,
                .projects__input + .projects__checkbox {
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                display: block;
            }
        }
    }
    &__inner + &__inner {
        margin-top: 32px;
    }
    &__inner + &__list {
        margin-top: 20px;
    }
    &__list {
        display: flex;
        align-items: center;
        padding: 8px 0;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 0;
            height: 0;
        }
        &--wrap {
            flex-wrap: wrap;
            padding: 0;
            overflow-x: hidden;
            .projects__title {
                margin-right: 32px;
                margin-bottom: 20px;
            }
            .projects__checkbox {
                margin-right: 20px;
                margin-bottom: 20px;
            }
            .projects__checkbox + .projects__checkbox {
                margin-left: 0;
            }
        }
    }
    &__input-group {
        @media screen and (min-width: 768px) {
            .input-group__input {
                max-width: 172px;
            }
        }
        @media screen and (max-width: 767px) {
            .input-group__input {
                width: 100%;
            }
        }
    }
    &__input-group + &__list,
    &__title + &__list {
        @media screen and (min-width: 768px) {
            margin-left: 32px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 12px;
        }
    }
    &__input-group + &__checkbox {
        margin-left: 26px;
    }
    &__checkbox + &__checkbox,
    &__checkbox + &__input,
    &__input + &__checkbox {
        margin-left: 20px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 32px;
        max-height: 148px;
        width: fit-content;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            max-height: 204px;
        }
        @media screen and (max-width: 767px) {
            display: block;
            margin-top: 20px;
            max-height: none;
        }
    }
    &__quantity {
        margin-right: 120px;

        @media screen and (min-width: 1024px) {
            &:nth-child(3n),
            &:nth-child(3n - 1) {
                margin-top: 20px;
            }
            &:nth-child(n + 13) {
                display: none;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2) {
                margin-top: 20px;
            }
            &:nth-child(n + 9) {
                display: none;
            }
        }
        @media screen and (max-width: 767px) {
            margin-right: 0;
        }
    }
    &__quantity + &__quantity {
        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }
    &__input {
        max-width: 334px;
        min-width: 334px;

        @media screen and (max-width: 575px) {
            max-width: none;
            min-width: 100%;
        }
    }
    &__tooltip {
        margin-bottom: 20px;
    }
    &__map {
        margin-top: 60px;
        width: 100%;
        height: 105px;
        &--active {
            height: 700px;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            &--active {
                height: 550px;
            }
        }
        @media screen and (max-width: 767px) {
            margin-top: 30px;
            &--active {
                height: 400px;
            }
        }
    }
    &__total {
        margin-top: 100px;
        text-align: center;
        .projects__btn {
            margin-top: 32px;
        }

        @media screen and (max-width: 767px) {
            margin-top: 60px;
        }
    }
    &__text {
        display: block;
        font-size: 18px;
        font-weight: normal;
        color: $gray-color;
    }
}

// nav
.nav {
    &__item + &__item {
        margin-top: 22px;
    }
    &__link {
        font-size: 18px;
        font-weight: 500;
        color: $light-color;
        &:hover {
            color: $yellow-color;
        }

        @media screen and (max-width: 575px) {
            font-size: 16px;
        }
    }
}

// socials
.socials {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item + &__item {
        margin-left: 26px;
    }
    &__icon {
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
        color: $light-color;
        &:hover {
            color: $yellow-color;
        }
    }
}